@font-face {
    font-family: "Circe";
    src: url(../fonts/Circe/Circe-Regular.woff) format("woff");
}

@font-face {
    font-family: "Gilam";
    src: url(../fonts/Gilam/GilamBold.otf) format("woff");
}

body {
    background-color: #171717;
}

.wrapper {
    max-width: 1460px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-top: 46px;
    margin-bottom: 128px;
}

.header-btn {
    margin-top: 37px;
}

.btn-link {
    font-family: Circe;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    display: inline-block;
    padding: 10px 25px 10px 26px;
    background-color: #171717;
    border: 1px solid #E4B564;
}

.header-btn-icon {
    margin-right: 10px;
}

.main {
    font-family: Gilam;
}

.main-about {
    margin-bottom: 161px;
}

.title {
    font-family: Gilam;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: white;
}

.main-about-title {
    margin-bottom: 41px;
}

.main-about-information {
    margin-bottom: 41px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
}

.main-service {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 27px;
    height: 963px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
    text-align: center;
}

.main-service div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.earth-work {
    background-color: #634F2C;
    grid-column: 2 span;
}

.underground-work {
    background-color: #B4A385;
    grid-column: 2 span;
}

.channels {
    background-color: #E4B564;
    grid-column: 2 span;
}

.support {
    background-color: #635A4A;
    grid-column: 3 span;
}

.wells {
    background-color: #B08C4D;
    grid-column: 3 span;
}

.technique {
    margin-bottom: 191px;
}

.technique-title {
    margin-bottom: 94px;
}

.technique-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 27px;
    height: 897px;
    color: white;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
}

.technique-list div {
    padding-top: 44px;
    padding-left: 50px;
}

.sludge-machines {
    background-color: #0E0E0E;
    grid-row: 3 span;
}

.channels-machines {
    background-color: #242424;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 10;
}

.loader {
    background-color: #1F1F1F;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.excavator {
    background-color: #E4B564;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 10;
}


.backhoe-loader {
    background-color: #1F1F1F;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.truck {
    background-color: #0E0E0E;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
}

.roller {
    background-color: #0A0909;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
}

.progects {
    background-color: #0E0E0E;
    margin-bottom: 239px;
}

.progects-header {
    display: flex;
    justify-content: space-between;
    padding-top: 172px;
    padding-bottom: 72px;
}

.progects-btn-link {
    padding: 10px 40px;
    background-color: #0E0E0E;
}

.progects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 782px;
}

.progects-list div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eid {
    background-color: #634F2C;
}

.mavis {
    flex-direction: column;
    text-align: center;
    background-color: #E8D2AB;
}

.logo-mavis {
    margin-top: 3px;
}

.mavis-text {
    padding-top: 16px;
    font-family: Gilam;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: white;
}

.arsenal {
    background-color: #E4B564;
}

.arsenal-grey {
    background-color: #635A4A;
}

.setlgroup {
    background-color: #B08C4D;
}